.reminder-list span.completed, .single-reminder-task-list span.completed{
  text-decoration: line-through;
  color: #888;
}

.weather-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
  padding-bottom: 20px;
}

.weather-container .cities {
	display: flex;
	align-items: center;
	justify-content: center;
}

.weather-container .city {
	position: relative;
	background: #e6e6e6;
	padding: 30px 35px 15px 35px;
	border-radius: 20px;
	color: #1e2432;
}

.weather-container .city-name sup {
	padding: 0.2em 0.6em;
	border-radius: 30px;
	color: #fff;
	background: #ff8c00;
}

.weather-container .city-temp {
	font-size: 3.5rem;
	font-weight: bold;
	margin-top: 10px;
	color: #1e2432;
}

.weather-container .city-icon {
	width: 100px;
	height: 100px;
}

.weather-container figcaption {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.edit-single-task {
	display: flex;
}

.edit-single-task .task-input {
	width: 70%;
}

.edit-single-task .completed-input {
	padding-left: 30px;
}

.header-name {
	display: inline-block;
	float: right;
	padding-top: 25px;
	font-size: 24px;
	font-weight: bold;
}

.date {
	display: inline-block;
}
.date-header {

}

#day-field {
	display: flex;
	align-items: center;
}

#month {
	display: flex;
	flex-flow: column wrap;
}

#month * {
	margin: 0;
	padding: 0;
}

#day {
	font-size: 3em;
	font-weight: bold;
	padding-right: 5px;
}

#week {
	font-weight: bold;
	padding-left: 5px;
	/* position: absolute;
  top: 102px; */
	font-size: 18px;
}

.friend-form {
	position: relative;
	top: -60px;
}

.friend-profile-image {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.friend-name {
	font-size: 18px;
	font-weight: bold;
	padding-left: 15px;
}

.friend-btn {
	float: right;
}

.deleteForm {
	display: inline-block;
}

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

header.masthead {
	position: relative;
	background-color: #fff;
	background: url("https://image.freepik.com/free-vector/reading-list-concept-illustration_114360-1005.jpg") no-repeat
		right center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	padding-top: 8rem;
	padding-bottom: 8rem;
}

header.masthead .overlay {
	position: absolute;
	background-color: #212529;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.2;
}

header.masthead h1 {
	font-size: 2rem;
}

@media (min-width: 768px) {
	header.masthead {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}
	header.masthead h1 {
		font-size: 3rem;
	}
}

.showcase .showcase-text {
	padding: 3rem;
}

.showcase .showcase-img {
	min-height: 30rem;
	background-size: cover;
}

@media (min-width: 768px) {
	.showcase .showcase-text {
		padding: 7rem;
	}
}

.features-icons {
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.features-icons .features-icons-item {
	max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
	height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
	font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
	font-size: 5rem;
}

.testimonials {
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.testimonials .testimonial-item {
	max-width: 18rem;
}

.testimonials .testimonial-item img {
	max-width: 12rem;
	box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
	position: relative;
	background-color: #343a40;
	background: url("./img/bg-masthead.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.call-to-action .overlay {
	position: absolute;
	background-color: #212529;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.3;
}

footer.footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.form-signin .checkbox {
	margin-bottom: 10px;
	margin-top: 10px;
}
