<script type="text/javascript">
  let taskFieldCount = 3;
  function addTaskInputField() {
    const name = "task" + ++taskFieldCount
    const placeholder = "Task " + taskFieldCount;
    const tasks = document.querySelector('.js-tasks');
    const node = document.createElement("div");
  node.innerHTML = `<input type="text" placeholder="`+placeholder+`" class="form-control" id="titleInput" name="` + name + `"/>`;

  tasks.append(node);
  }

  let tagFieldCount = 1;
  function addTagInputField() {
    const name = "tag" + ++tagFieldCount
    const placeholder = "Tag " + tagFieldCount;
    const tasks = document.querySelector('.js-tags');
    const node = document.createElement("div");
  node.innerHTML = `<input type="text" placeholder="`+placeholder+`" class="form-control" id="titleInput" name="` + name + `"/>`;

  tasks.append(node);
  }
</script>

<div class="container">
  <h1>Create a New Reminder</h1>
  <form action="/reminder" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"></textarea>
    </div>
    
    <div class="form-group row">
      <label for="example-datetime-local-input" class="col-2 col-form-label">Reminder Date</label>
      <div class="col-10">
        <input class="form-control" type="datetime-local" name="date"  id="example-datetime-local-input">
      </div>
    </div>

    <div class="form-group js-tasks">
      <label for="title">Tasks</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Task 1" name="task1">
      <input type="text" class="form-control" id="titleInput" placeholder="Task 2" name="task2">
      <input type="text" class="form-control" id="titleInput" placeholder="Task 3" name="task3">
    </div>
    <button type="button" onclick="addTaskInputField()" >add more tasks</button>

    <div class="form-group js-tags">
      <label for="title">Tags</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Tag 1" name="tag1">
    </div>
    <button type="button" onclick="addTagInputField()" >add more tags</button>



    <button style="display: block;
    margin-top: 25px;" type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
